.spyproject/config/codestyle.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
Code/data/*
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
Code/__pycache__/ConvMixer.cpython-38.pyc
Code/__pycache__/utils.cpython-38.pyc
Code/runs/*
*.pkl
